attrdict==2.0.0
gevent==1.4.0
gevent-websocket==0.10.1
numpy==1.19.2
h5py===3.1.0
python-engineio==3.11.2
python-socketio==4.4.0
Pillow==4.3.0
scipy
six==1.15.0
mock==3.0.0
funcsigs
keras
tensorflow
ujson==1.35
wsaccel==0.6.2
